$red: rgba(237, 29, 36, 1);
$bgblack: rgba(21, 21, 21, 1);
$faded_red: linear-gradient(
  180.05deg,
  rgba(237, 29, 36, 0) 30.62%,
  #ed1d24 99.96%
);
$fwlight: 300;
$fwbold: 700;
$fwregular: 400;
$white: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: $white;
}

.header {
  background: $bgblack;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  .header-logo {
    width: 5em;
  }

  .search-icon {
    width: 1.5em;
  }
  .pfp {
    width: 45px;
    height: 45px;
    border-radius: 5em;
  }

  #nav,
  .search-pfp {
    display: flex;
    align-items: center;
    gap: 53px;
  }

  li {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
  }

  #navbar.active {
    left: 0;
    transition: 0.7s ease-in-out;
    z-index: 10;
  }
}

.hero-section {
  background-image: linear-gradient(
      0deg,
      #ed1d24 -3.13%,
      rgba(237, 29, 36, 0) 183.55%
    ),
    url("../../assets/hero1.svg");
  background-repeat: repeat-x;
  background-position-x: right;
  background-size: inherit;
  background-position-y: initial;
  width: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .intro {
    font-weight: 800;
    line-height: 75px;
    text-align: center;
  }
}

button {
  width: 162px;
  height: 53px;
}

.get-started {
  background: #ed1d24;
  h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 47px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }

  .marvel-unlimited {
    width: 390px;
    height: 213px;
  }

  .black {
    font-weight: 600;
    line-height: 23px;
  }
}

#character-main {
  background: $bgblack;
  .character-container {
    display: flex;
  }

  .character-detail {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.9em;
    visibility: hidden;
    width: 100%;
  }

  #character:hover {
    cursor: pointer;
    background: $faded_red;
  }

  #character:hover .character-detail {
    visibility: visible;
    background: $faded_red;
  }
}

// .hammer {
//   animation: hammer 1.5s ease-in-out infinite;
//   transition: all 0.15s ease-in-out;
// }

// @keyframes hammer {
//   0% {
//     translate: 0;
//   }
//   50% {
//     translate: 0 0.2rem;
//   }
//   75% {
//     translate: 0;
//   }
//   100% {
//     translate: 0;
//   }
// }

.location-insider {
  background: $bgblack;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2em;

  #insider {
    text-align: center;
    padding: 0 1em;
  }

  #marvel-insider {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #ed1d24;
  }

  #watch-earn {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
  }

  .reward {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
  }
}

.red-btn {
  background: $red;
  font-weight: 600;
  line-height: 23px;
}

#footer-wrapper {
  background: $bgblack;
  .subtext {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.8);
  }
}
